# Panda Basic assignment - 1

In [4]:
import pandas as pd

In [3]:
# Question-1
from pandas import Series, DataFrame
Panda_series = Series([4, 8, 15, 16, 23, 42])
Panda_series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
# Question - 2
import pandas

l = ["Harsh", "Sudhanshu", "Krish", "Data science", "Pw skills", 5, 6, 8, 9, 10]
pandas.Series(l)

0           Harsh
1       Sudhanshu
2           Krish
3    Data science
4       Pw skills
5               5
6               6
7               8
8               9
9              10
dtype: object

In [10]:
# Question-3

data = {'Name': ["Alice", "Bob", "Claire"],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

panda_dataframe = DataFrame(data)
panda_dataframe

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q.4) What is 'DataFrame' in pandas and how it is diffrent from pandas.series? expain with the example

sol: A dataframe represents a tabular, spreadsheet-like data structure containing an odered collection of columns, each of which can be a diffrent value type The DataFrame has both a row and column index; it can be
thought of as a dict of Series (one for all sharing the same index). Compared with other
such DataFrame-like structures you may have used before (like Râ€™s data.frame), row oriented and column-oriented operations in DataFrame are treated roughly symmetrically. Under the hood, the data is stored as one or more two-dimensional blocks rather
than a list, dict, or Series which is collection of one-dimensional arrays.

In [12]:
# Examples
# Data frame
data = {'state': ['ohio', 'nyc', 'quaghog', 'washington'],
        'year': ['1897', '1992', '1987', '2003'],
        'pop': [4.5, 7.8, 2.4, 5.5]}
frame = DataFrame(data)
print(frame)

# Series
obj = Series([1,5,6,4])
print(obj)

        state  year  pop
0        ohio  1897  4.5
1         nyc  1992  7.8
2     quaghog  1987  2.4
3  washington  2003  5.5
0    1
1    5
2    6
3    4
dtype: int64

Question 5)
Some functions that I have used till now are:
1) pd.read
2) .columns
3) to_csv
4) .head()
5) .tail()
6) .dtypes
etc.

Question 6)
DataFrames are both value-mutable and size-mutable (Series, by contrast, is only value-mutable, not size-mutable. The length of a Series cannot be changed although the values can be changed).

In [13]:
# Question - 7
# Create a DataFrame using multiple Series. Explain with an example.
names = pd.Series(['Alica', 'Bob', 'Charlie'])
ages = pd.Series([25, 40, 55])
countries = pd.Series(['England', 'USA', 'Maldives'])

df = pd.DataFrame({'Name': names, 'Age': ages, 'Country': countries})
df

      Name  Age   Country
0    Alica   25   England
1      Bob   40       USA
2  Charlie   55  Maldives